*.swp
.ipynb_checkpoints
*/.ipynb_checkpoints
.idea
*.txt
*.csv
euler/filter_pincode_tokens.ipynb
euler/playground.ipynb
*.DS_Store*
*.tgz
*.pdf
ner_perceptron/brown*
ner_perceptron/*.c
ner_perceptron/build
*.pyc
*.so
fast_corner/box.tar
fast_corner/box
